<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Recent Blog Posts</h2>
                <hr class="primary">
            </div>
        </div>
        <ul>
            {% for post in site.posts %}
            <li>
                <a href="{{ post.url }}">
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.date | date: '%B %d, %Y' }}</p>
                </a>
                {{ post.excerpt | strip_html }}
            </li>
            {% endfor %}
        </ul>
    </div>
</section>