<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">NiceGit</h2>
                <hr class="light">
                <p class="text-faded">NiceGit is source control for normal people.</p>
                <p class="text-faded">A new approach to file sharing and source control based on a beautiful, user-centred app, backed up by the power of Git.</p>
                <a href="http://www.nicegit.com" target="_blank" class="btn btn-default btn-xl">Learn More</a>
            </div>
        </div>
    </div>
</section>
