<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Agency & Consultancy</h3>
                    <span class="text-muted">
                    <p>I have held roles with several digital agencies, including Technical Director of innovative game design agency <a href="http://hideandseek.net">Hide&amp;Seek</a> and freelance TD roles at <a href="https://convertagency.com/">Nerv</a> and <a href="https://www.crunchbase.com/organization/pleo-2#/entity">Pleo</a>.</p>
                    <br/>
                    <p>Most recently I have been working as an Agile consultant for <a href="http://wearefuturegov.com">FutureGov Australia</a>, helping in their mission to use design, technology and change to make public services more human.</p>
                    </span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Game Development</h3>
                    <span class="text-muted">
                        <p>Over a decade of experience in the games industry with senior management positions at a number of notable studios, including Technical Director of <a href="http://company.king.com/">King</a>'s London studio, founding a new London studio for <a href="http://www.naturalmotion.com/company">NaturalMotion</a> and was one of the original developers at Facebook gaming startup <a href="https://techcrunch.com/2009/11/09/not-playing-around-electronic-arts-buys-playfish-for-275-million/">Playfish</a>, later acquired by Electronic Arts.</p>
                        <br>
                        <p>I can sometimes be found exploring new game projects at <a href="http://thearcade.melbourne/">The Arcade</a>. </p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
