<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  <header class="page-header" id="page-header">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>{{ page.title }}</h1>
            <h2>Git, for normal people</h2>
            <hr>
            <p>NiceGit is a different way to work together. A friendly interface and a simple workflow handle the complexities of Git projects for you, so you can focus on what really matters.</p>
            <a href="#contact" class="btn btn-primary btn-xl page-scroll">See more</a>
        </div>
    </div>
</header>

  <!-- {% include call-to-action.html %} -->
  <!-- {% include aside.html %} -->

  {% include ng-signup.html %}
  {% include scripts.html %}
</body>

</html>